@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');

.btn-1 {

	text-decoration: none;
	font-size: 13px;
	padding: 6px 16px;
	line-height: 40px;
	text-align: center;
	background: #008DDF;
	color: #f1f1f1;
	transition: all .4s ease-in-out;
	box-shadow: 2px 2px 5px #cacaca;
	border-radius: 20px;
	border: 1px solid #008DDF;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

}

.btn-1:hover {

	background-color: #056aec;                
	border: 1px solid #056aec;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

}

.font {

	font-family: 'KoHo', sans-serif;

}