@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');

.contenedor {

	width: 90%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	z-index: -1;

}
    
.contenedor figure img {

	width: 100%;
	transition: all 400ms ease-out;
	border-radius: 5px 5px 5px 5px;
	z-index: 1;

}

/*==========CAPA-1==========*/
    
.contenedor figure .capa {

	position: absolute;
	top: 0;
	width: 50%;
	height: 50%;
	transition: all 400ms ease-out;
	opacity: 1;
	visibility: visible;
	text-align: left;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	z-index: -1;
	border-radius: 5px 5px 5px 5px;

}

.contenedor figure:hover > .capa {

	opacity: 1;
	visibility: visible;
	color: #ffffff;

}

/*==========CAPA-2==========*/

.contenedor figure .capa2 {

	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 400ms ease-out;
	opacity: 0;
	visibility: hiden;
	text-align: left;
	background: #1d1d1f;
	z-index: 2;
	border-radius: 5px 5px 5px 5px;

}

.contenedor figure:hover > .capa2 {

	opacity: .5;
	visibility: visible;
	color: #ffffff;

}

/*==========CAPA-3==========*/

.contenedor figure .capa3 {

	position: absolute;
	top: 40%;
	width: 80%;
	height: 20%;
	transition: all 400ms ease-out;
	opacity: 0;
	visibility: hiden;
	text-align: left;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	z-index: 3;
	border-radius: 5px 5px 5px 5px;
	margin: 0% 0% 0% 10%;

}

.contenedor figure:hover > .capa3 {

	opacity: 1;
	visibility: visible;
	color: #ffffff;

}

/*==========CAPA-4==========*/

.contenedor figure .capa4 {

	position: absolute;
	top: 1%;
	width: 8%;
	height: 13%;
	transition: all 400ms ease-out;
	opacity: 0;
	visibility: hiden;
	text-align: left;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	z-index: 3;
	border-radius: 5px 5px 5px 5px;
	margin: 0% 0% 0% 1%;

}

.contenedor figure:hover > .capa4 {

	opacity: 1;
	visibility: visible;
	color: #ffffff;
}

/*====================================================*/
/*====================CONTENEDOR-2====================*/
/*====================================================*/

.contenedor2 {

	width: 38%;
	position: relative;
	float: left;
	margin: 10px;

}
    
.contenedor2 figure img {

	width: 100%;
	transition: all 400ms ease-out;
	border-radius: 5px 5px 5px 5px;
	z-index: 1;

}

/*==========CAPA-1==========*/
    
.contenedor2 figure .capa {

	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 400ms ease-out;
	opacity: 1;
	visibility: visible;
	text-align: left;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	z-index: -1;
	border-radius: 5px 5px 5px 5px;

}

.contenedor2 figure:hover > .capa {

	opacity: 1;
	visibility: visible;
	color: #ffffff;

}

/*==========CAPA-2==========*/

.contenedor2 figure .capa2 {

	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 400ms ease-out;
	opacity: 0;
	visibility: hiden;
	text-align: left;
	background: #1d1d1f;
	z-index: 2;
	border-radius: 5px 5px 5px 5px;

}

.contenedor2 figure:hover > .capa2 {

	opacity: .5;
	visibility: visible;
	color: #ffffff;

}

/*==========CAPA-3==========*/

.contenedor2 figure .capa3 {

	position: absolute;
	top: 40%;
	width: 80%;
	height: 20%;
	transition: all 400ms ease-out;
	opacity: 0;
	visibility: hiden;
	text-align: left;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	z-index: 3;
	border-radius: 5px 5px 5px 5px;
	margin: 0% 0% 0% 10%;

}

.contenedor2 figure:hover > .capa3 {

	opacity: 1;
	visibility: visible;
	color: #ffffff;

}

/*==========CAPA-4==========*/

.contenedor2 figure .capa4 {

	position: absolute;
	top: 1%;
	width: 8%;
	height: 13%;
	transition: all 400ms ease-out;
	opacity: 0;
	visibility: hiden;
	text-align: left;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	z-index: 3;
	border-radius: 5px 5px 5px 5px;
	margin: 0% 0% 0% 1%;

}

.contenedor2 figure:hover > .capa4 {

	opacity: 1;
	visibility: visible;
	color: #ffffff;
}

