.ir-arriba {

	display:none;
	padding:8px 12px 8px 12px;
	background: transparent;
	color:#1d1d1f;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
	border:1px solid #1d1d1f;
	border-radius: 50px;

}


.up-ico {

	font-size: 18px;

}

.ftr-ico {

	color: #ffffff;
	cursor: pointer;
	-webkit-text-stroke:1px #1d1d1f;

}

/*=========================================================*/
/*____________________RESPONSIVE-DESING____________________*/
/*=========================================================*/

/*===========================*/
/*__________Android__________*/
/*===========================*/

@media screen and (max-width: 800px){

.ir-arriba {

	padding:15px;
	background: transparent;
	color:#1d1d1f;
	border:0px solid #f6f6f6;
}

.ir-arriba {

	display:none;
	padding:6px 10px 6px 10px;
	background: transparent;
	color:#1d1d1f;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
	border:1px solid #1d1d1f;
	border-radius: 50px;

}

.up-ico {

	font-size: 17px;

}

.ftr-ico {

	color: #ffffff;
	cursor: pointer;
	-webkit-text-stroke:0px #1d1d1f;
	font-size:20px;

}

}
